<footer class="border-bg-foreground w-full border-t py-4 text-center text-sm text-gray-300">
  Made with ❤️ by
  <a
    href="https://www.linkedin.com/in/santiago-betancur/"
    class="underline"
    target="_blank"
  >
    sbetav
  </a>
</footer>
